<!DOCTYPE html>
<html>
    <head>
        <title>IdeaBox</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/w3.css"/>
    </head>
    <body>
        <div class="w3-container w3-blue">
            <h2>IdeaBox</h2>
        </div>        

        <div id="submit-status">
            <p>{{ .Status }}</p>
        </div>
    </body>
</html>