@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    padding: 0 20% 0 20%;
}

label {
    display: block;
}

textarea {
    display: block;
}

/*.input-field-title {
    width: 30%;
}*/

.input-field {
    width: 100%;
}

form {
    position: relative;
}

.submit-form {
    width: 100%;
}